<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default_Address_title_size</key>
	<dict>
		<key>iphne4</key>
		<string>15</string>
		<key>iphone5</key>
		<string>15</string>
		<key>iphne6</key>
		<string>16</string>
		<key>iphone6p</key>
		<string>16</string>
	</dict>
	<key>default_airquality_title_size</key>
	<dict>
		<key>iphne4</key>
		<string>17</string>
		<key>iphone5</key>
		<string>17</string>
		<key>iphone6</key>
		<string>18</string>
		<key>iphone6p</key>
		<string>19</string>
	</dict>
	<key>default_Sub_Express_title_size</key>
	<dict>
		<key>iphne4</key>
		<string>15</string>
		<key>iphone5</key>
		<string>15</string>
		<key>iphone6</key>
		<string>16</string>
		<key>iphone6p</key>
		<string>17</string>
	</dict>
	<key>default_Minecell_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>14</string>
		<key>iphone5</key>
		<string>14</string>
		<key>iphone6</key>
		<string>15</string>
		<key>iphone6p</key>
		<string>16</string>
	</dict>
	<key>default_Logo_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>12</string>
		<key>iphone5</key>
		<string>12</string>
		<key>iphone6</key>
		<string>14</string>
		<key>iphone6p</key>
		<string>16</string>
	</dict>
	<key>default_NavBar_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>18</string>
		<key>iphone5</key>
		<string>18</string>
		<key>iphone6</key>
		<string>20</string>
		<key>iphone6p</key>
		<string>22</string>
	</dict>
	<key>default_RightNav_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>16</string>
		<key>iphone5</key>
		<string>16</string>
		<key>iphone6</key>
		<string>18</string>
		<key>iphone6p</key>
		<string>20</string>
	</dict>
	<key>default_Banner_height_size</key>
	<dict>
		<key>iphone4</key>
		<string>150</string>
		<key>iphone5</key>
		<string>150</string>
		<key>iphone6</key>
		<string>190</string>
		<key>iphone6p</key>
		<string>220</string>
	</dict>
	<key>default_Login_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>16</string>
		<key>iphone5</key>
		<string>16</string>
		<key>iphone6</key>
		<string>17</string>
		<key>iphone6p</key>
		<string>18</string>
	</dict>
	<key>default_UserPassword_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>16</string>
		<key>iphone5</key>
		<string>16</string>
		<key>iphone6</key>
		<string>16</string>
		<key>iphone6p</key>
		<string>18</string>
	</dict>
	<key>default_TabBar_height_size</key>
	<dict>
		<key>iphone4</key>
		<string>49</string>
		<key>iphone5</key>
		<string>49</string>
		<key>iphone6</key>
		<string>49</string>
		<key>iphone6p</key>
		<string>59</string>
	</dict>
	<key>default_HomeCell_height_size</key>
	<dict>
		<key>iphone4</key>
		<string>100</string>
		<key>iphone5</key>
		<string>100</string>
		<key>iphone6</key>
		<string>105</string>
		<key>iphone6p</key>
		<string>118</string>
	</dict>
	<key>default_FoodShop_sizex_size</key>
	<dict>
		<key>iphone4</key>
		<string>15</string>
		<key>iphone5</key>
		<string>15</string>
		<key>iphone6</key>
		<string>17</string>
		<key>iphone6p</key>
		<string>23</string>
	</dict>
	<key>default_FoodShop_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>14</string>
		<key>iphone5</key>
		<string>14</string>
		<key>iphone6</key>
		<string>14</string>
		<key>iphone6p</key>
		<string>16</string>
	</dict>
	<key>default_FoodIndex_title_size</key>
	<dict>
		<key>iphone4</key>
		<string>14</string>
		<key>iphone5</key>
		<string>14</string>
		<key>iphone6</key>
		<string>14</string>
		<key>iphone6p</key>
		<string>16</string>
	</dict>
	<key>default_Price_size</key>
	<dict>
		<key>iphone4</key>
		<string>30</string>
		<key>iphone5</key>
		<string>30</string>
		<key>iphone6</key>
		<string>30</string>
		<key>iphone6p</key>
		<string>34</string>
	</dict>
	<key>default_Title_size</key>
	<dict>
		<key>iphone4</key>
		<string>16</string>
		<key>iphone5</key>
		<string>16</string>
		<key>iphone6</key>
		<string>16</string>
		<key>iphone6p</key>
		<string>18</string>
	</dict>
	<key>default_SubTitle_size</key>
	<dict>
		<key>iphone4</key>
		<string>12</string>
		<key>iphone5</key>
		<string>12</string>
		<key>iphone6</key>
		<string>12</string>
		<key>iphone6p</key>
		<string>14</string>
	</dict>
	<key>default_ExpressFee_Title_size</key>
	<dict>
		<key>iphone4</key>
		<string>14</string>
		<key>iphone5</key>
		<string>14</string>
		<key>iphone6</key>
		<string>15</string>
		<key>iphone6p</key>
		<string>16</string>
	</dict>
	<key>default_ExpressFee_SubTitle_size</key>
	<dict>
		<key>iphone4</key>
		<string>12</string>
		<key>iphone5</key>
		<string>12</string>
		<key>iphone6</key>
		<string>13</string>
		<key>iphone6p</key>
		<string>14</string>
	</dict>
</dict>
</plist>
